/* ---------------------------------------------------------------------- */
/*  Import fonts
/* ---------------------------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700,800,900);
/* ---------------------------------------------------------------------- */
/*  Basic Elements & Classes
/* ---------------------------------------------------------------------- */

body {
    color: #888888;
    direction: ltr;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
html, body {
    width: 100%;
    overflow-x: hidden;
    font-size: 100%;
}

.jumbotron-icon { 
	font-size: 14px;
	
}

a {
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
a, a:focus, a:hover, a:active {
    outline: 0 !important;
    text-decoration: none;
}


.jumbo-icon-link {
	display: inline-block;
	text-align: center;	
	padding: 10px;
}

.jumbo-icon-txt {
	display: block; 
}

form.print-view {
    font-size: 70%;
}

form.print-view .height20 {
    height: 10px;
}
/* ---------------------------------------------------------------------- */
/*  Generic Classes
/* ---------------------------------------------------------------------- */

.l-float {
    float: left;
}
.r-float {
    float: right;
}
.no-padding {
    padding: 0 !important;
}
.no-display {
    display: none;
}
.example {
    margin: 15px 0;
    padding: 14px 19px;
}
.widget {
    -moz-box-sizing: content-box;
    color: #333;
    margin-bottom: 30px;
    padding: 10px 12px;
    position: relative;
}
.spacel12 {
    padding-left: 12px !important;
}
.spacel20 {
    margin-left: 20px !important;
}
.spacer20 {
    margin-right: 20px !important;
}
.spacet20 {
    margin-top: 20px !important;
}
.spacet10 {
    margin-top: 10px !important;
}
.spacet0 {
    margin-top: 0 !important;
}
.space5 {
    display: block;
    margin-bottom: 5px !important;
    clear: both;
}
.space7 {
    margin-bottom: 7px !important;
    clear: both;
}
.space10 {
    margin-bottom: 10px !important;
    clear: both;
}
.space12 {
    margin-bottom: 12px !important;
    clear: both;
}
.space15 {
    margin-bottom: 15px !important;
    clear: both;
}
.space20 {
    margin-bottom: 20px !important;
    clear: both;
}

.height20 {
    clear:both;
    height: 20px;
}

.spacetop20 {
    margin-top: 20px;
}
.vmargin30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.circle-img {
    border-radius: 100% 100% 100% 100%;
}
.nopadding {
    padding: 0;
}
.center {
    text-align: center;
}
.section-content {
    margin-left: 5%;
}
.wrapper {
    clear: both;
    min-height: 100px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.wrapper.padding50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.wrapper.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}
.wrapper-progress {
    background-color: #d0dfee;
    color: #888888;
}
.wrapper-grey h1, .wrapper-grey h2, .wrapper-grey h3 {
    color: #444444;
}
.white {
    color: #FFFFFF !important;
}
.black {
    color: #000000;
}
.promobox {
    background-color: #F6F6F6;
    border-color: #FAEBCC;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #E7E7E7;
}
.show-grid [class*="col-"] {
    background: #e7e7e7;
    border: 10px solid #F7F8FA;
    line-height: 2em;
    margin-bottom: 10px;
    text-align: center;
}
/* ---------------------------------------------------------------------- */
/*  Animated Elements
/* ---------------------------------------------------------------------- */

.animate-if-visible, .animate-group .animate {
    position: relative;
    opacity: 0;
}
.ie8 .animate-if-visible, .ie8 .animate {
    filter: alpha(opacity=0);
}
/* ---------------------------------------------------------------------- */
/*  Navbar Elements
/* ---------------------------------------------------------------------- */

.navbar-default {
    background: #00589e;
    border-color: #E7E7E7;
    height: 90px;
    min-height: 30px;
}
.ie8 .navbar-default {
    background: #00589e;
    top: 0;
}
.navbar-header {
    margin-left: -12px;
}
.ie8 .navbar-default.space-top {
    top: 40px;
}
body.isMobile .navbar-default {
    position: absolute !important;
}
.navbar-brand {
    padding: 15px 0 0 0
}
.navbar > .container .navbar-brand {
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 30px;
    line-height: inherit;
    color: #666666;
    height: 50px;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    opacity: 1;
}
.navbar > .container .navbar-brand:hover {
    opacity: 0.7;
}
.navbar > .container .navbar-brand i {
    font-size: 25px;
}
.navbar-default .navbar-nav > li {}
.navbar-nav > li > a {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    display: block;
    margin-right: 5px;
}
.navbar-default .navbar-nav > li > a {
    color: #bbe1ff;
    border-left: 1px solid #ffffff;
    height: 20px !important;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 40px;
    line-height: 20px !important;
    font-weight: bold;
    border-radius: 0;
    font-size:0.8rem;
}
.navbar-default .navbar-nav > li:first-child > a, .navbar-default .navbar-nav > li:last-child > a {
    border-left: none;
}
.dropdown-menu {
    font-size: inherit;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.dropdown.open > a {
    background: none;
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a:before {
    display: inline-block;
    font-family: FontAwesome;
    position: absolute;
    text-align: center;
    bottom: 2px;
    width: 100%;
    left: 0;
    line-height: 0;
}
.navbar-default > .container {
    position: relative;
}
.single-menu .navbar-default .navbar-nav > li > a {
    padding-top: 2px !important;
}
.single-menu .navbar-default .navbar-nav > .active > a, .single-menu .navbar-default .navbar-nav > .active > a:hover, .single-menu .navbar-default .navbar-nav > .active > a:focus {
    border-top: 2px solid #007AFF;
    border-bottom: none;
    padding-top: 0 !important;
}
.single-menu .navbar-default .navbar-nav > li > a:hover, .single-menu .navbar-default .navbar-nav > li > a:focus, .single-menu .navbar-default .navbar-nav > li.dropdown.open > a {
    border-bottom: none;
    background: #007AFF;
    color: #ffffff;
}
.single-menu .navbar-default .navbar-nav > .active > a:before {
    content: "\f0d7";
    top: 1px;
    bottom: auto;
}
.single-menu .navbar-default .navbar-nav > li.menu-search > a:hover, .single-menu .navbar-default .navbar-nav > li.menu-search > a:focus, .single-menu .navbar-default .navbar-nav > li.menu-search.dropdown.open > a {
    border-bottom: none;
    background: none;
    color: #808080;
}
.mega-menu .mega-menu-content {
    padding: 20px 30px;
    line-height: normal !important;
}
.mega-menu .mega-menu-content ul.sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mega-menu .mega-menu-content ul.sub-menu .mega-menu-sub-title {
    color: #333333;
    display: block;
    font-size: 1em;
    font-weight: 600;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.mega-menu .mega-menu-content ul.sub-menu a {
    display: block;
    font-weight: normal;
    padding: 8px;
    line-height: 23px;
    font-size: 12px;
    height: auto;
    min-height: 23px;
    text-align: left;
    text-decoration: none;
    color: #808080;
}
.mega-menu .mega-menu-content ul.sub-menu a:hover, .mega-menu .mega-menu-content ul.sub-menu a:focus {
    background-color: #F5F5F5;
    color: #262626;
    text-decoration: none;
}
.navbar-nav > li > .dropdown-menu {
    border-top-width: 2px;
    border-top-style: solid;
    margin-top: -2px;
    left: 0;
    right: auto;
}
.menu-search > a:hover, .menu-search > a:focus {
    border-bottom: none !important;
}
/* ---------------------------------------------------------------------- */
/*  Search Box
/* ---------------------------------------------------------------------- */

.search-box {
    border-radius: 0;
    width: 300px;
    line-height: normal;
    right: 0;
    top: auto;
    left: auto;
    bottom: -55px;
}
.search-box .arrow {
    left: auto !important;
    margin-left: 0 !important;
    right: 10px;
    top: -11px;
}
.search-box input {
    background-color: #F8F8F8;
    border-color: #E1E1E1;
    color: #ffffff;
    border-radius: 0;
    box-shadow: none;
}
/* ---------------------------------------------------------------------- */
/*  Icons
/* ---------------------------------------------------------------------- */

.icons > section {
    margin-top: 20px;
}
.the-icons li {
    line-height: 40px;
}
.the-icons li i {
    transition: font-size 0.2s ease 0s;
}
.the-icons li:hover i {
    font-size: 26px;
}
/* ---------------------------------------------------------------------- */
/*  Buttons
/* ---------------------------------------------------------------------- */

.btn {
    font-family: 'Open Sans';
}
.btn-teal {
    background-color: #569099;
    border-color: #4d8189;
    color: #ffffff;
}
.btn-teal:hover, .btn-teal:focus, .btn-teal:active, .btn-teal.active {
    background-color: #4d8189;
    border-color: #447178;
    color: #ffffff;
}
.btn-teal.disabled:hover, .btn-teal.disabled:focus, .btn-teal.disabled:active, .btn-teal.disabled.active, .btn-teal[disabled]:hover, .btn-teal[disabled]:focus, .btn-teal[disabled]:active, .btn-teal[disabled].active, fieldset[disabled] .btn-teal:hover, fieldset[disabled] .btn-teal:focus, fieldset[disabled] .btn-teal:active, fieldset[disabled] .btn-teal.active {
    background-color: #569099;
    border-color: #569099;
    color: #ffffff;
}
.btn-dark-grey {
    background-color: #333;
    border-color: #333;
    color: #ffffff;
}
.btn-dark-grey:hover, .btn-dark-grey:focus, .btn-dark-grey:active, .btn-dark-grey.active {
    background-color: #262626;
    border-color: #262626;
    color: #ffffff;
}
.btn-dark-grey.disabled:hover, .btn-dark-grey.disabled:focus, .btn-dark-grey.disabled:active, .btn-dark-grey.disabled.active, .btn-dark-grey[disabled]:hover, .btn-dark-grey[disabled]:focus, .btn-dark-grey[disabled]:active, .btn-dark-grey[disabled].active, fieldset[disabled] .btn-dark-grey:hover, fieldset[disabled] .btn-dark-grey:focus, fieldset[disabled] .btn-dark-grey:active, fieldset[disabled] .btn-dark-grey.active {
    background-color: #333;
    border-color: #333;
    color: #ffffff;
}
.btn-med-grey {
    background-color: #666;
    border-color: #666666;
    color: #ffffff;
}
.btn-green {
    background-color: #66b558;
    border-color: #66b558;
    color: #ffffff;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active {
    background-color: #327b00;
    border-color: #327b00;
    color: #ffffff;
}
.btn-green.disabled:hover, .btn-green.disabled:focus, .btn-green.disabled:active, .btn-green.disabled.active, .btn-green[disabled]:hover, .btn-green[disabled]:focus, .btn-green[disabled]:active, .btn-green[disabled].active, fieldset[disabled] .btn-green:hover, fieldset[disabled] .btn-green:focus, fieldset[disabled] .btn-green:active, fieldset[disabled] .btn-green.active {
    background-color: #3D9400;
    border-color: #3D9400;
    color: #ffffff;
}
.btn-white {
    background-color: #ffffff;
    border-color: #cccccc;
    color: #b3b3b3;
}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-whites.active {
    background-color: #66b558;
    border-color: #66b558;
    color: #ffffff;
}
.btn-white.disabled:hover, .btn-white.disabled:focus, .btn-white.disabled:active, .btn-white.disabled.active, .btn-white[disabled]:hover, .btn-white[disabled]:focus, .btn-white[disabled]:active, .btn-white[disabled].active, fieldset[disabled] .btn-white:hover, fieldset[disabled] .btn-white:focus, fieldset[disabled] .btn-white:active, fieldset[disabled] .btn-white.active {
    background-color: #ffffff;
    border-color: #cccccc;
    color: #ffffff;
}
.btn-blue {
    background-color: #00589e;
    border-color: #00589e;
    color: #ffffff;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active {
    background-color: #014a85;
    border-color: #014a85;
    color: #ffffff;
}
.btn-blue.disabled:hover, .btn-blue.disabled:focus, .btn-blue.disabled:active, .btn-blue.disabled.active, .btn-blue[disabled]:hover, .btn-blue[disabled]:focus, .btn-blue[disabled]:active, .btn-blue[disabled].active, fieldset[disabled] .btn-blue:hover, fieldset[disabled] .btn-blue:focus, fieldset[disabled] .btn-blue:active, fieldset[disabled] .btn-blue.active {
    background-color: #364F6A;
    border-color: #364F6A;
    color: #ffffff;
}
.btn-grey {
    background-color: #9b9b9b;
    border-color: #9b9b9b;
    color: #ffffff;
}
.btn-grey:hover, .btn-grey:focus, .btn-grey:active, .btn-grey.active {
    background-color: #777777;
    border-color: #777777;
    color: #ffffff;
}
.btn-green .caret, .btn-blue .caret {
    border-top-color: #ffffff;
}
.dropup .btn-green .caret, .dropup .btn-blue .caret {
    border-bottom: 4px solid #FFFFFF;
}
.btn-squared {
    border-radius: 0 !important;
}
.btn {
    transition: all 0.3s ease 0s !important;
}
.btn-icon {
    background-color: #EFEFEF;
    background-image: -moz-linear-gradient(center top, #FAFAFA, #EFEFEF);
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    cursor: pointer;
    height: 80px;
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 5px 0 0;
    position: relative;
    text-align: center;
    transition: all 0.3s ease 0s;
    color: #333333;
}
.btn-icon:hover {
    border-color: #A5A5A5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    color: #444444;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
.btn-icon .badge {
    border-radius: 12px 12px 12px 12px !important;
    border-style: solid;
    border-width: 0;
    box-shadow: none;
    color: #FFFFFF !important;
    font-family: 'Open Sans';
    font-size: 11px !important;
    font-weight: 300;
    padding: 3px 7px;
    position: absolute;
    right: -5px;
    text-shadow: none;
    top: -5px;
}
.btn-icon [class^="fa-"], .btn-icon [class*=" fa-"], .btn-icon [class^="clip-"], .btn-icon [class*=" clip-"] {
    clear: both;
    display: block;
}
.buttons-widget .btn, .buttons-widget .make-switch {
    margin-bottom: 5px;
}
.buttons-widget .btn-group-vertical .btn {
    margin-bottom: 0;
}
.fa .fa-save {
    margin-right: 10px;
    font-size: 17px;
}
/* ---------------------------------------------------------------------- */
/*  Labels and Badges
/* ---------------------------------------------------------------------- */

.badge-success {
    background-color: #5CB85C;
}
.badge-success[href]:hover, .badge-success[href]:focus {
    background-color: #449D44;
}
.badge-warning {
    background-color: #F0AD4E;
}
.badge-warning[href]:hover, .badge-warning[href]:focus {
    background-color: #EC971F;
}
.badge-info {
    background-color: #5BC0DE;
}
.badge-info[href]:hover, .badge-info[href]:focus {
    background-color: #31B0D5;
}
.badge-danger {
    background-color: #D9534F;
}
.badge-danger[href]:hover, .badge-danger[href]:focus {
    background-color: #C9302C;
}
.badge-new {
    background-color: #007AFF;
    border-radius: 12px 12px 12px 12px !important;
    font-size: 11px !important;
    font-weight: 300;
    height: 18px;
    padding: 3px 6px;
    text-align: center;
    text-shadow: none !important;
    vertical-align: middle;
}
.label {
    font-size: 85% !important;
    padding: 0.4em 0.6em !important;
}
.label-inverse, .badge-inverse {
    background-color: #555555;
}
/* ---------------------------------------------------------------------- */
/*  Home elements
/* ---------------------------------------------------------------------- */

.circle-icon {
    background-color: #333333;
    border-radius: 75px 75px 75px 75px;
    color: #FFFFFF;
    margin-top: 2px;
    text-align: center;
    height: 55px;
    line-height: 80px;
    width: 80px;
    height: 80px;
    display: inline-block;
    font-size: 24px !important;
}
.circle-icon.circle-blue {
    background-color: #00589e;
    color: #FFFFFF;
}
.core-box-row {
    margin-top: 10px;
    margin-bottom: 0px;
    overflow: visible;
}
.core-box {
    display: inline-block;
    padding: 20px;
    width: 100%;
}
.core-box.core-box-small {
    height: 250px;
}
.core-box.core-box-status {
    padding: 0px;
}
.core-box a.block-link {
    display: block;
    width: 100%;
}
.core-box .heading {
    margin-right: 20px;
    display: block;
}
.core-box .status-section {
    float: left;
    margin-top: 20px;
    width: 50%;
}
.core-box h2 {
    line-height: 20px !important;
    margin: 0;
    font-weight: normal;
    color: #00589e;
    font-size: 20px;
    clear: both;
    display: block;
}
.core-box .content {
    color: #777777 !important;
    line-height: 20px;
    font-size: 15px;
}
p.workplan-descr {
    color: #696969;
    font-size: 13px;
    line-height: 16px;
    margin-top: 5px;
}
.date-due, .core-box.core-box-hovered .date-due {
    font-size: 13px;
    color: #696969;
    margin-top: 0;
    display: block;
}
.year-status {
    font-size: 15px;
    color: #676767;
    font-weight: bold;
    margin-bottom: 0;
    display: block;
}
.core-box.core-box-hovered, .core-box.active {
    display: inline-block;
    background: #eeeeee;
    position: relative;
}
.core-box.core-box-small.core-box-hovered {
    height: 200px;
    min-height: 200px;
}
.core-box.core-box-hovered h2, .core-box.active h2 {
    color: #66b558;
}
/*
#core-box-middle.core-box.col-md-12.active .content p {
    display:none;
}*/
/*
#core-box-middle.core-box.col-md-12.active p.workplan-descr,
.core-box.core-box-hovered .content p.workplan-descr{
    display:none;
}*/

#core-box-middle.core-box.col-md-12.active p.year-status, .core-box.core-box-hovered p.year-status {
    color: #ffffff;
    font-size: 14px;
}
/* status options */

.status-options {
    display: block;
}
.status-options ul {
    list-style: none;
    display: inline;
}
.status-options ul.breadcrumb {
    padding: 0;
}
.status-options ul li {
    /*float: left;*/

    margin-right: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    color: #a8b6c4;
}
.status-options ul li:last-child {
    margin-right: 0;
}
.status-options ul li.activse {
    color: #66b558
}
.core-box.core-box-hovered .heading .circle-icon, .core-box.core-box-hovered .heading .fa {
    background: none;
    height: 100px;
    line-height: 100px;
    width: 100px;
    display: inline-block;
    font-size: 56px !important;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background: #66b558;
}
.core-box.active.core-box-small {
    height: 250px;
}
/*.core-box.active .content{
    visibility:hidden;
}*/

.core-box.active .heading .circle-icon, .core-box.active .heading .fa {
    background: none;
    height: 100px;
    line-height: 100px;
    width: 100px;
    display: inline-block;
    font-size: 64px !important;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #66b558;
    color: #ffffff;
}
.grid-container {
    margin-top: 50px;
}
.grid-item {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 15px;
}
.grid-content {
    background-color: #FFFFFF;
    color: #666666;
    padding: 15px;
    position: relative;
}
.grid-content:before {
    content: "\f0d8";
    display: inline-block;
    font-family: FontAwesome;
    position: absolute;
    text-align: center;
    top: -3px;
    width: 100%;
    left: 0;
    line-height: 0;
    color: #ffffff;
}
.grid-image {
    position: relative;
}



/* ---------------------------------------------------------------------- */
/*  Progress Bar
/* ---------------------------------------------------------------------- */

.progress {
    background: none repeat scroll 0 0 #FAFAFA;
    border-radius: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    overflow: visible !important;
}
.progress-bar {
    border-radius: 25px;
    box-shadow: none;
    position: relative;
    overflow: visible !important;
}
/* ---------------------------------------------------------------------- */
/*  Feature Box
/* ---------------------------------------------------------------------- */

.feature-box .feature-icon {
    color: #333333;
    display: inline-block;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 35px;
    top: 5px;
}
.feature-box .feature-icon > i {
    font-size: 30px;
}
.feature-box .feature-info {
    padding-left: 50px;
}
/* ---------------------------------------------------------------------- */
/*  Form Elements
/* ---------------------------------------------------------------------- */

.header-search-field .form-control {
    background-color: #3b7fb4;
    border-color: #84c6ff;
    color: #ffffff;
    box-shadow: none;
    border-radius: 2px;
    margin-top: 28px;
    float: left;
    width: 155px;
    height: 34px;
}
label {
    font-size: 12px;
}
.control-label {
    font-size: 15px;
    margin-top: 22px;
}

.symbol.required:before {
    content: "*";
    display: inline;
    color: #E6674A;
}
.form-control {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
}
.form-control.radio-group, .form-control.check-group {
    border: none;
}
.form-control:focus {
    border: 1px solid #66b558;
    outline: 0px none;
    box-shadow: none;
}
.input-group .form-control {
    background: #ffffff;
}

/* ---------------------------------------------------------------------- */
/*  Style Selector
/* ---------------------------------------------------------------------- */

#style_selector {
    background: none repeat scroll 0 0 #FFFFFF;
    position: fixed;
    right: 0;
    top: 100px;
    width: 215px;
    z-index: 9999;
}
#style_selector_container {
    border: 1px solid rgba(23, 24, 26, 0.15);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    box-shadow: 0 2px 9px 2px rgba(0, 0, 0, 0.14);
    display: none;
}
#style_selector_container img {
    border-radius: 100% 100% 100% 100%;
}
.style-main-title {
    background: #D9D9D9;
    border-bottom: 1px solid rgba(23, 24, 26, 0.15);
    color: #000000;
    font-size: 15px;
    height: 44px;
    line-height: 44px;
    text-align: center;
}
.box-title {
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: #AAA9A9 !important;
}
.input-box {
    border-bottom: 1px solid rgba(23, 24, 26, 0.15);
    padding: 0 10px 10px 10px;
    text-align: center;
}
.input-box input[type="text"] {
    background: none repeat scroll 0 0 #f3f3f3;
    border: 1px solid rgba(23, 24, 26, 0.15);
    color: #000000;
    font-size: 11px;
    margin-left: 10px;
    padding: 3px;
    width: 60px;
}
.input-box select {
    background: none repeat scroll 0 0 #f3f3f3;
    border: 1px solid rgba(23, 24, 26, 0.15);
    color: #000000;
    margin-left: 5px;
    width: 120px;
}
.input-box .radio-inline {
    margin: 0 10px !important;
}
#style_selector .style-toggle {
    background: #ffffff;
    cursor: pointer;
    height: 44px;
    width: 35px;
    border: 1px solid rgba(23, 24, 26, 0.15);
    border-right: none;
    border-radius: 5px 0 0 5px;
    line-height: 44px;
    text-align: center;
    color: #007AFF;
    font-size: 14px;
}
#style_selector > .open:before {
    content: "\e162";
    font-family: 'clip-font';
    line-height: 1;
}
#style_selector > .open {
    background-position: left top;
    left: -35px;
    position: absolute;
    top: 44px;
    width: 35px;
    opacity: 1;
}
#style_selector > .close:before {
    content: "\e163";
    font-family: 'clip-font';
    line-height: 1;
}
#style_selector > .close {
    background-position: left bottom;
    position: absolute;
    right: 0;
    top: 45px;
    width: 35px;
    opacity: 0.9;
}
#style_selector .images {
    border-bottom: 1px solid rgba(23, 24, 26, 0.15);
    padding-bottom: 10px;
    text-align: center;
    position: relative;
}
#style_selector .images img {
    height: 24px;
    margin-bottom: 7px;
    margin-right: 7px;
    width: 25px;
    z-index: 1000;
}
#style_selector .images img.active {
    border: 0 solid #CCCCCC;
    opacity: 0.5;
}
#style_selector .images .form-group {
    width: 50px;
    text-align: center;
    color: #AAA9A9;
    font-size: 10px;
    margin-bottom: 0;
}
.layout-boxed > .navbar, .layout-boxed .main-container, .layout-boxed > .footer {
    max-width: 1170px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
}
#style_selector .images input {
    display: none;
}
#style_selector .images .form-group {
    display: inline-block;
}
#style_selector .images .add-on {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    display: inline-block;
    font-weight: normal;
    line-height: 20px;
    min-width: 20px;
    padding: 5px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    width: auto;
    margin-left: 2px;
}
#style_selector .images .add-on i {
    cursor: pointer;
    display: block;
    height: 20px;
    width: 20px;
}
#style_selector .clear_style {
    margin-right: 20px;
}
/* ---------------------------------------------------------------------- */
/*  Customization
/* ---------------------------------------------------------------------- */

.navbar.navbar-fixed-top {
    top: 0;
}
.navbar.navbar-default {
    margin-top: 0;
    top: 0;
    position: absolute;
    width: 100%;
    border: none;
    border-radius: 0;
}
.title-header {
    padding: 20px 0px 19px 0;
    margin-top: -39px;
}

.title-header.bg-deepblue.navbar-fixed-top {
    margin-top: 0px;
}

.title-header .header-title-container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.bg-deepblue {
    background: #1d3a58;
}
.bg-lgrey {
    background: #e5e5e5;
}
.header-search-field {
    margin-top: -9px;
}
.header-search-field .input-group {
    height: 20px;
    padding: 0;
    margin: 0;
    display: inline-block;
    float: left;
    width: 200px;
}
.header-search-field .input-group-btn {}
.header-search-field .btn-main-color {
    background-color: #3b7fb4;
    color: #FFFFFF;
    border-left: 1px solid #84c6ff;
    border-right: 1px solid #84c6ff;
    border-bottom: 1px solid #84c6ff;
    border-top: 1px solid #84c6ff;
    margin-top: 28px;
    float: left;
    margin-left: 0;
}
.btn-main-color:hover, .btn-main-color:focus, .btn-main-color:active, .btn-main-color.active {
    background-color: #1d3a58;
    border-color: #84c6ff;
    color: #ffffff;
}
.navbar-default .navbar-nav > li.login a {
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-default .navbar-nav > li.menu-search {
    width: 200px;
}

.log-text {
 	white-space: pre-wrap;
 	font-family: monospace;
 	font-size: smaller;	
}

/* footer */
.footer {
    width: 100%;
    background: #00589e;
    font-family: 'Open Sans';
}
div.footer-copyright-wrapper {
    padding: 30px 0 30px;
}
div.footer-copyright {}
div.footer-copyright nav {
    float: right;
}
div.footer-copyright p {
    color: #ffffff;
    margin: 0;
    padding: 0;
}
div.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div.footer-copyright nav ul li {
    border-left: 1px solid #eeeeee;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}
div.footer-copyright nav ul li a {
    color: #bbe1ff;
    font-size:14px;
}
div.footer-copyright nav ul li a:hover {
    color: #ffffff;
}
div.footer-copyright nav ul li:first-child {
    border: none;
    padding-left: 0;
}
/* 3 boxes under header */

.core-box .fa {
    font-family: FontAwesome;
    background: #00589e;
    border-radius: 75%;
    -webkit-transition: background 0.7s ease-in-out;
    -o-transition: background 0.7s ease-in-out;
    transition: background 0.7s ease-in-out;
    height: 100px;
    line-height: 100px;
    width: 100px;
    display: inline-block;
    font-size: 56px !important;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.core-box .fa.fa-bar-chart-o {
    color: #ffffff;
    font-size: 24px;
}
.core-box.core-box-hovered .fa {
    background: none;
    font-size: 58px !important;
}
.fa .fa-sort-desc {
    display: block;
    float: right;
    margin-right: 20px;
}
.fa .fa-pencil {
    padding: 40px;
}

.core-box .fa.fa-bar-chart-o {
    color: #ffffff;
    font-size: 24px;
}
.core-box.core-box-hovered .fa {
    background: none;
    font-size: 58px !important;
}
.fa .fa-pie-chart {
    content: "\f200";
    color: #ffffff;
    font-size: 24px;
}
.status-container {
    padding-top: 20px;
}
.status-container .core-box {
    height: auto;
    margin-bottom: 10px;
}
.status-container .core-box h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
}
.status-container .core-box p {
    font-size: 13px;
    line-height: 17px;
}
.status-container .core-box .heading {
    margin-bottom: 0;
    padding: 0;
}
.status-container .core-box h3, .status-container .core-box p {
    text-align: center;
    color: #6d6d6d;
}
.status-container .fa {
    color: #afafaf;
    font-size: 55px !important;
    background: none;
}
.status-container .status-title {
    font-size: 20px;
}
.btn-add-output .fa.fa-plus-circle {
    margin-right: 10px;
}
.action-btns-wrapper {
    margin: 20px 0;
}
.action-btns-wrapper .btn-add-output {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    color: #ffffff;
    padding: 10px 20px;
}
.fa.fa-print, .fa.fa-cloud-download {
    padding: 1px;
    font-size: 18px;
    color: #ffffff;
}
.fa.fa-print.print-large, .fa.fa-cloud-download.print-large {
    margin-right: 10px;
}
.btn-form-action {
    font-weight: bold;
    font-size: 14px;
    padding: 10px 9px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 0 0 0 0 !important;
    color: #858585;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.2;
    padding: 5px 4px;
    transition-duration: 0.1s;
    box-shadow: none;
}
textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover {
    border-color: #B5B5B5;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
label {
    font-weight: normal;
}
span.input-icon, span.input-help {
    display: block;
    position: relative;
}
.input-icon > input {
    padding-left: 25px;
    padding-right: 6px;
}
.input-icon.input-icon-right > input {
    padding-left: 6px;
    padding-right: 25px;
}
span.input-help > input {
    padding-left: 30px;
    padding-right: 6px;
}
.input-icon > [class*="fa-"], .input-icon > [class*="clip-"] {
    bottom: 0;
    color: #909090;
    display: inline-block;
    font-size: 14px;
    left: 5px;
    line-height: 35px;
    padding: 0 3px;
    position: absolute;
    top: 0;
    z-index: 2;
}
.input-icon.input-icon-right > [class*="fa-"], .input-icon.input-icon-right > [class*="clip-"] {
    left: auto;
    right: 4px;
}
.input-icon > input:focus + [class*="fa-"], .input-icon > input:focus + [class*="clip-"] {
    color: #557799;
}
.help-button {
    background-color: #65BCDA;
    border-radius: 100% 100% 100% 100%;
    color: #FFFFFF;
    cursor: default;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    padding: 0;
    text-align: center;
    width: 20px;
    line-height: 20px;
    top: 7px;
    left: 7px;
}
.help-button:before {
    content: "\f128";
    display: inline;
    font-family: FontAwesome;
    font-weight: 300;
    height: auto;
    text-shadow: none;
    font-style: normal;
}
select.form-control {
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 0 0 0 0;
    color: #858585;
}
select.form-control option {
    padding: 3px 4px;
}

textarea.form-control{
    background:#ffffff;
}

.form-control.search-select {
    padding: 0 !important;
    box-shadow: none;
    border: none;
}
.select2-container .select2-choice {
    background-clip: padding-box !important;
    background-color: #FFFFFF;
    background-image: none !important;
    background-repeat: no-repeat !important;
    border: 1px solid #CCCCCC !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #555555 !important;
    display: block !important;
    height: 34px !important;
    line-height: 29px !important;
    margin-top: 3px !important;
    overflow: hidden !important;
    padding: 0 12px 0 8px !important;
    position: relative !important;
    text-decoration: none !important;
    white-space: nowrap !important;
}

.select2-container .select2-choice .select2-arrow {
    background-image: none !important;
    background-color: #FFFFFF !important;
    width: 28px !important;
    text-align: center;
}
.select2-container .select2-choice .select2-arrow b {
    background: none !important;
    display: block;
    height: 100%;
    width: 100%;
}
.select2-container .select2-choice .select2-arrow b:before {
    content: "\f078";
    display: inline;
    font-family: FontAwesome;
    font-weight: 300;
    height: auto;
    text-shadow: none;
}
.select2-drop{
  -webkit-box-shadow: none;
  -moz-box-shadow:none;
  box-shadow:none;
}
.select2-dropdown-open.select2-container-active .select2-choice .select2-arrow b:before {
    content: "\f077";
}
.select2-container .select2-choice,
.select2-container-multi.select2-container .select2-choices{
  border-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-top:3px;
  padding-left:3px;
}
.select2-container .select2-choice:hover,
.select2-container-multi.select2-container .select2-choices:hover{
  border-color: #eeeeee;

}
.select2-container-active .select2-choice,
.select2-container-multi.select2-container-active .select2-choices{
  border-color: #cccccc;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;}

.select2-container-multi{
  padding:0;
}
.select2-container-multi .select2-choices {
    background-image: none !important;
    background-color: #ffffff !important;
    border-color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    padding:0;
}

.select2-drop-active{
  border: 1px solid transparent;
  font-family: 'Open Sans', sans-serif;
  font-size:13px;
}
.select2-results{
  padding:0;
  margin: 0;
  /*border:1px solid #cccccc;*/
  background: #eeeeee;
}
.select2-results .select2-result-label{
  padding: 8px 0 8px 8px;
}
.select2-results .select2-highlighted{
  color: #ffffff;
  background: #337ab7;
}
.select2-results .select2-highlighted:hover{
  background: #337ab7;
}
.select2-container-multi .select2-choices .select2-search-choice{
  margin:0 3px 3px 0;
}

textarea.autosize {
    vertical-align: top;
    transition: height 0.2s;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
}
.radio label.radio-inline, .checkbox label.checkbox-inline {
    display: inline-block;
}
.radio-inline, .radio-inline + .radio-inline, .checkbox-inline, .checkbox-inline + .checkbox-inline {
    margin-right: 10px !important;
    margin-top: 5px !important;
    margin-left: 0 !important;
    margin-bottom: 10px !important;
}
.radio label, .checkbox label {
    margin-bottom: 5px;
}
.checkbox-table {
    display: inline-block;
    margin: 2px 0 0 0;
    padding-left: 20px;
    line-height: 10px;
}
.checkbox-table label {
    margin-bottom: 0;
}
[class^="icheckbox_"], [class*="icheckbox_"], [class^="iradio_"], [class*="iradio_"] {
    float: left !important;
    margin: 0 5px 0 -20px !important;
}
.help-inline {
    margin-top: 6px;
    color: #737373;
}
.help-block.error {
    color: #B94A48;
}
.symbol.required:before {
    content: "*";
    display: inline;
    color: #E6674A;
}
.symbol.ok:before {
    content: "\f00c";
    display: inline;
    font-family: FontAwesome;
    color: #468847;
}
.has-error .note-editor, .has-error .cke_chrome {
    border-color: #B94A48 !important;
}
.form-group .text {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-top: 7px;
}
/* alerts - custom */

.alert {
    margin-top: 15px;
}

.alert-reboot {
    z-index: 1000;
    background: #eeeeee;
    border-top: 1px solid #ff1e00;
    border-bottom: 1px solid #ff1e00;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 100;
    color: #ff1e00;
    position: fixed;
    /*top: 20px;*/
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.fa.fa-refresh {
    color: #ff1e00;
    font-size: 17px;
    margin-right: 15px;
}

.alert .alert-instructions {
    background: none;
    padding: 20px 0 20px 0;
    margin-bottom: 14px;
    color: #787878;
}
.alert-instructions ul.fa.ul {
    list-style: none;
    padding-left: 10px;
}
.alert .fa.fa-lightbulb-o {
    font-size: 40px;
    color: #66b558;
}
.good-practice-accordion .panel.panel-default {
    background: #cde1f2;
    color: #444;
}
.good-practice-accordion .accordion-blue .panel-heading .accordion-toggle {
    background: #cde1f2 !important;
}

.panel-heading{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top:10px;
}

.panel-info > .panel-heading{
    background-color: #fafafa;
    color: #00589e;
    border-color: transparent;
}
/* scroll to top button */

a#scroll-top {
    background-color: #00589e;
    transition: all 0.3s ease-out 0s;
    color: #ffffff;
    border-radius: 2px;
    bottom: 70px;
    height: 50px;
    line-height: 50px;
    opacity: 1;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 50px;
    z-index: 10000;
}
a#scroll-top:hover {
    background-color: #1d3a58;
    color: #ffffff;
}
.fa .fa-angle-up {
    color: #ffffff;
}


/* ---------------------------------------------------------------------- */
/*  Miscellaneous
/* ---------------------------------------------------------------------- */


.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.content-box .content-box-content {
    overflow: hidden;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid gray;
}
.content-box .content-box-title {
    height: 60px;
    line-height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #F3F3F3;
    display: block;
    border: 1px solid gray;
    border-bottom: 1px solid gray;
}
.tooltip-inner {
    max-width: 400px;
}
.tab-blue .tooltip-inner {
    max-width: 640px;
    text-align: left;
}
.file-preview.loading {
    background: transparent url('./assets/img/ajax-loader.gif') no-repeat scroll center center content-box !important;
}
.panel .control-label {
    padding-left: 0px;
}
.panel .control-field {
    padding-left: 20px;
}
.floated-input label {
    margin-bottom: 0;
    vertical-align: middle;
}
.floated-input input[type="checkbox"] {
    display: inline-block;
    width: 20px;
    vertical-align: middle;
}
.floated-input input[type="text"] {
    display: inline-block;
    vertical-align: middle;
}
.floated-input .form-group {
    display: table;
    width: 100%;
}
.floated-input .control-label {
    display: table-cell;
    width: 20%;
}
.floated-input .form-control {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.requiredfields {
    color: #e32;
}
.required label.control-label:after {
    color: #e32;
    content: ' *';
    display: inline;
}
.next-year, .next-year .select2-choice, .next-year .select2-choices .select2-input.select2-default, .next-year ul.select2-choices {
    background-color: #eeeeee !important;
}
.visible-next-year .next-year, .visible-next-year .next-year .select2-choice, .visible-next-year .next-year .select2-choices .select2-input.select2-default, .visible-next-year .next-year ul.select2-choices {
    background-color: #FFFFFF !important;
}
.select2-container .select2-choices .select2-search-field input, .select2-container .select2-choice, .select2-container .select2-choices {
    border-radius: 0;
}

.select2-container-multi .select2-choices .select2-search-choice {
    border-width: 0;
    padding: 8px 15px 8px 25px;
    color: #337ab7;
    background: #eeeeee;
    font-size:16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.select2-container-multi .select2-choices .select2-search-choice:hover{
  background: #337ab7;
  color: #ffffff;
}
.select2-container-multi .select2-search-choice-close{
  left:8px;
}
.fa.core-box-disabled {
    background-color: #bdbdbd !important;
}
.navbar-header .navbar-header {
    text-decoration: none;
}
.navbar-header a:visited {
    color: #FFFFFF;
}
.navbar-header img {
    display: block;
    float: left;
}
.navbar-header .title {
    display: block;
    vertical-align: bottom;
    float: left;
    height: 28px;
    border-left: 2px solid #fff;
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 20px;
    line-height: 28px;
    color: #ffffff
}
.title-beta {
    color: #74a4d6;
    font-size: 15px;
    display: inline-block;
    padding-left: 5px;
    margin-left: 15px;
    margin-top: 40px;
}
/* ---------------------------------------------------------------------- */
/*  Dropdown menu for bootstrap 3
/* ---------------------------------------------------------------------- */

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    margin-top: 10px;
    margin-right: -10px;
    vertical-align: middle;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-left: 4px solid;
}
.dropdown-submenu span.caret {
    display: none;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/* ---------------------------------------------------------------------- */
/*  Dropdown for Year Button
/* ---------------------------------------------------------------------- */

.project-year-selection {
    float: right;
    margin-top: -10px;
}
.project-year-selection .fa-sort-desc:before {
    color: #66b558;
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 24px;
}
.project-year-selection a.btn.btn-default.dropdown-toggle {
    background: #1d3a58;
    border: 1px solid #1d3a58;
    color: #ffffff;
    padding: 5px 30px;
    font-weight: bold;
    font-size: 30px;
}
.project-year-selection .caret {
    color: #66b558;
    border-top: 7px solid;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
.project-year-selection .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    color: #ffffff;
    background: #1d3a58;
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
}
.project-year-selection .dropdown-menu > li > a:focus,
.project-year-selection .dropdown-menu > li > a:hover {
    color: #66b558;
    text-decoration: none;
    background-color: #1d3a58;
}
.project-year-selection.open .dropdown-menu {
    display: block !important;
    z-index: 1000;
    float: left;
    min-width: 152px;
    padding: 5px 0 5px 10px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #1d3a58;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
    top: 50px;
    left: 0;
}


.text-center {
    text-align: center;
}
.landing-page {
    padding: 50px 0;
    font-size: 15px;
    line-height: 18px;
}
.landing-page h3 {
    color: #00589e;
    font-size: 17px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.landing-page p {
    margin: 0;
    padding: 0
}
.landing-page .app-section-icon {
    background-color: #333333;
    border-radius: 75px 75px 75px 75px;
    color: #FFFFFF;
    margin-top: 2px;
    text-align: center;
    height: 55px;
    line-height: 120px;
    width: 120px;
    height: 120px;
    display: inline-block;
    font-size: 45px !important;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.landing-page .app-section-icon:hover {
    background-color: #66b558;
}
h3:hover {
    color: #66b558
}
.app-section-icon.circle-blue {
    background-color: #00589e;
    color: #FFFFFF;
}
.app-section-icon.circle-blue:hover h3 {
    color: #66b558
}
.landing-page a {
    color: #666666;
}
.landing-page a:hover {
    color: #66b558
}

.img-responsive {
    width: 100%;
}
