.center-text-donut {
  text-align: center;
  .center-text {
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 3em;
    font-weight: bold;
    width: 200px;
    margin-left: -100px;
  }
}
