aside [role=navigation] a{
  display: block;
  color: #707070;
  font-size: 1.05em;
  line-height: 160%;
  text-transform: uppercase;
  border-bottom: 1px solid #c5c5c5;
  padding: 15px 0 15px 20px;
  text-decoration: none;
  &.active{
    background-color: #808080;
    color: #f2f2f2;
    .circle{
      background-color: #f2f2f2;
      color: #666;
    }
  }
  .circle{
    background-color: #666;
    border-radius: 50%;
    color: #f2f2f2;
    display: inline-block;
    margin-right: 0.4em;
    text-align: center;
    height: 1.6em;
    width: 1.6em;
    .glyphicon {
      font-size: 14px;
      padding-top: 4px;
    }
  }
}
