aside [role=navigation] a{
  display: block;
  color: #707070;
  cursor: pointer;
  font-size: 1.05em;
  line-height: 190%;
  text-transform: uppercase;
  border-bottom: 1px solid #c5c5c5;
  padding: 15px 0 15px 20px;
  text-decoration: none;
  &:hover {
    background-color: #808080;
    color: #f2f2f2;
  }
  &.active{
    background-color: #808080;
    color: #f2f2f2;
    .circle{
      background-color: #f2f2f2;
      color: #666;
    }
  }
  .circle{
    background-color: #666;
    border-radius: 50%;
    color: #f2f2f2;
    display: block;
    float: left;
    margin-right: 0.4em;
    text-align: center;
    height: 1.6em;
    width: 1.6em;
  }
}

.nav-icon {
  display:block;
  height:1.28em;
  width: 1.28em;
  margin: auto;
  padding-top: 5px;
}
.chart-section-container {
  margin-bottom: 7em;
}
.js-plotly-plot .plotly .modebar {
  margin-top: -50px;
}
.js-plotly-plot .plotly .main-svg  {
  margin-top: -60px;
  background: none !important;
}
