@red: #cc3c3b;

.content{
  margin-top: 3em;
  margin-bottom: 64px;
}

.container-fluid{
  padding: 0;
}

header.branding{
  background-color: @red;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
  z-index: 1;

  h1, small{
    color: white;
  }

  h1{
    font-size: 24px;
    margin-top: 10px;
    small{
      text-transform: uppercase;
      display: block;
      font-size: 18px;
    }
  }

  .menu{
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    &>div{
      cursor: pointer;
      padding: 20px;
    }
  }

  .language-switcher{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

aside {
  z-index: 1;
  position: fixed!important;
  top: 64px;
  bottom: 0;
  height: auto;
  background-color: #f2f2f2;
  border-right: 1px solid #333;

  section.col-sm-12 {
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid #ccc;
  }

  section.description strong{
    color: @red;
  }
}

.years-bar {
  position: fixed;
  bottom: 34px;
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
  display: table;
  height: 30px;
  a {
    display: table-cell;
    background-color: #e6e6e6;
    color: #bbbbbb;
    text-decoration: none;
    padding: 5px 0 5px 20px;
    border-right: 2px #f2f2f2 solid;
    .glyphicon {
      visibility: hidden;
    }
    &:last-child {
      border-right: none;
    }
    &.active {
      color: @red;
      background-color: #f2f2f2;
      .glyphicon {
        visibility: visible;
      }
    }
  }
}

footer.main-footer{
  position: fixed;
  height: 34px;
  left: 0;
  right: 0;
  bottom: 0;
  background: @red;
  z-index: 1;
}