.location {
  pointer-events: all;
  stroke: #333;
  fill: white;
}

.react-d3-map-core__zoom-control{
  position: fixed!important;
  top: 2em!important;
  left: initial!important;;
}

.map-content{
  padding-left: 5px;
  overflow: hidden;
}