.location {
  pointer-events: all;
}

.react-d3-map-core__zoom-control{
  position: fixed;
  top: 1em!important;
  left: initial!important;;
}

.map-content{
  padding-left: 5px;
  overflow: hidden;
}