@headerHeight: 64px;
.dashboard-corruption-risk{
    &>header{
        background: #144361;
        .logo-wrapper{
            padding-left: 40px;
            padding-top: 10px;
            cursor: pointer;
        }

        .dash-switcher-wrapper{
            display: inline-block;
            color: #9fa9ba;
            h1{
                cursor: pointer;
                padding: 5px;
                .glyphicon{
                    font-size: .33em;
                    margin-left: 20px;
                    top: -5px;
                }
            }
            .dashboard-switcher{
                background: rgb(20, 67, 97);
                font-weight: 500;
                padding: 5px;
                border-top: 1px dotted white;
                a{
                    color: white;
                }
            }
        }

        .login-wrapper{
            padding: 15px;
            text-align: right;
            button{
                width: 150px;
                background: #35ae46;
            }
        }
    }

    &>.filters-bar{
        background: #c3e6fc;
        top: @headerHeight;
        height: @headerHeight;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 2;
        .title{
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            padding: 20px 0;
            @media (max-width: 969px) {
                padding: 0 5px;
            }
        }
        .filter{
            @boxFilterColor: #0083e5;
            @boxWidth: 500px;
            float: left;
            height: 100%;
            padding: 20px 0;
            margin-left: 3%;
            color: #899cb1;
            cursor: pointer;
            &.open{
                position: relative;
                border-bottom: 3px solid @boxFilterColor;
                .dropdown{
                    display: block;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-top: 3px;
                    margin-left: -@boxWidth/2;
                    width: @boxWidth;
                    height: 300px;
                    padding: 25px;
                    border: 3px @boxFilterColor solid;
                    border-radius: 3px;
                    background-color: white;
                    overflow-y: scroll;
                    header{
                        display: none;
                    }
                }
            }

            .glyphicon-menu-down{
                font-size: .75em;
                margin-left: 20px;
            }
            .dropdown{
                display: none;
            }
        }
        .download{
            padding: 10px 0;
            button{
                padding: 10px 25px;
            };
        }
    }

    aside{
        @leftPadding: 30px;
        top: @headerHeight * 2;
        padding-left: @leftPadding;
        padding-top: 20px;
        background: #fafafa;
        border-right-width: 1px;
        i{
            color: #34ac45;
            float: right;
        }
        .crd-overview-link{
            cursor: pointer;
        }
        [role=navigation]{
            margin-top: 20px;
            margin-left: -@leftPadding;
            a{
                border-bottom: 1px solid #c5c5c5;
                padding-left: @leftPadding;
                &:first-child{
                    border-top: 1px solid #c5c5c5;
                }
                &.active, &:hover{
                    background: white;
                    color: black;
                }
                .count{
                    color: #a9b2c0;
                    display: inline-block;
                    margin-left: 10px;
                }
                img{
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }

    .content{
        margin-top: @headerHeight * 2;
        margin-bottom: auto;
        padding: 20px 40px 0 40px;

        .crd-popup{
            @popupColor: #222c3c;
            position: absolute;
            top: 0;
            left: 0;
            width: 300px;
            height: 150px;
            z-index: 1;
            background: @popupColor;
            padding: 15px 5px;
            border-radius: 5px;
            pointer-events: none;
            .title{
                color: #70819b;
                font-weight: bold;
                padding-right: 0;
            }
            .info{
                color: white;
            }
            hr{
                width: 50%;
                opacity: .1;
                margin: 5px auto;
            }
            .arrow{
                @arrowSize: 8px;
                background: @popupColor;
                position: absolute;
                left: 50%;
                bottom: -@arrowSize/2;
                width: @arrowSize;
                height: @arrowSize;
                margin-left: -@arrowSize/2;
                transform: rotate(45deg);
            }
        }

        .chart-corruption-types{
            position: relative;
            .hovertext{
                opacity: 0;
            }
        }

        .table-top-flagged-contracts{
            th{
                color: #7f8fa4;
            }
            th, td{
                width: 11.11%;
            }
        }

        .indicator-tile-container{
            padding: 10px;
            .border{
                border: 1px solid #e6eaee;
                border-radius: 5px;
                padding: 20px;
                cursor: pointer;
                h4, p{
                    font-weight: bold;
                }
                p{
                    margin-bottom: 10px;
                    color: #156d03;
                    height: 3em;
                }
            }
        }

        .table-crosstab{
            .nr-flags{
                color: #004f99;
            }

            td, th{
                text-align: center;
            }

            td:first-child{
                text-align: right;
            }

            .not-applicable{
                color: #b6cddc;
                background: #f1faff;
            }

            td.hoverable{
                position: relative;
                .crd-popup{
                    display: none;
                    padding: 15px;
                    height: auto;
                    .and{
                        text-transform: uppercase;
                        color: #387ab2;
                    }
                    hr{
                        width: auto;
                    }
                }

                &:hover {
                    box-shadow: inset 0px 0px 0px 5px #ffd307;
                    .crd-popup{
                        display: block;
                        top: auto;
                        bottom: 100%;
                        left: 50%;
                        margin-left: -150px;
                    }
                }
            }
        }
    }
}
