.contracts-page{
  margin-bottom: 40px;
  table {
    th, td{
      width: 12.5%;
    }
    th{
      color: #a1adbc;
    }
    td{
      font-weight: 600;
      font-size: .9em;
    }
  }
}

.contract-page, .contracts-page {
  .react-bs-table table td, .react-bs-table table th{
    white-space: normal;
  }
}

.contract-page {
  .flag-analysis {
    clear: both;

    h2 {
      padding-top: 50px;
    }

    h3 {
      margin-top: 70px;
    }

    div.crosstab-box {
      background: #f0f0f0;
      font-size: .9em;
      .title {
        color: #144361;
        font-size: 1.3em;
      }
      h5 {
        color: green;
        font-weight: bold;
        margin-bottom: 5px;
      }
      p {
        color: #999999;
        margin-bottom: 0;
        strong {
          color: #333;
        }
      }
    }
  }

  section.contract-statistics {
    h2 {
      margin-bottom: 40px;
      @media screen and (max-width: 1500px) {
        margin-bottom: 20px;
      }

      @media screen and (max-width: 1400px) {
        margin-bottom: 10px;
      }

      @media screen and (max-width: 1300px) {
        margin-bottom: 0;
      }

    }
  }
}
