section.filters .field{
  overflow: hidden;
  header{
    background: white;
    position: relative;
    z-index: 1;
  }

  .checkbox{
    display: inline-block;
    width: 50%;
  }

  .glyphicon{
    transition: transform .4s ease-in-out;
  }

  .options{
    transition: transform .4s ease-in-out, margin .4s ease-in-out;
    transform: translateY(-100%);
    margin-bottom: -25%;
  }

  &.open{
    .glyphicon{
      transform: rotateZ(90deg);
    }

    .options{
      transform: translateY(0%);
      margin-bottom: 0;
    }
  }
}