section.filters{
  cursor: pointer;
  position: relative;
  transition: background-color .4s ease-in-out;
  .text{
    text-transform: uppercase;
    color: #c13f47;
  }

  .box{
    position: absolute;
    left: 101%;
    top: 0;
    width: 400px;
    height: 500px;
    margin-top: -225px;
    padding: 20px;
    background: white;
    border: 1px solid black;
    transform: scaleY(.00001) scaleX(.5) translateX(-150%);
    transform-origin: 0% 50%;
    opacity: 0;
    transition: transform .4s ease-in-out, opacity .4s ease-in-out;
    overflow-y: auto;
    section{
      header{
        color: #c13f47;
        text-transform: uppercase;
        font-weight: bold;
        .count{
          color: #262626;
        }
      }

      &.buttons{
        margin-top: 10px;
      }
    }
  }

  .arrow .glyphicon{
    transform: rotateZ(0);
    transition: transform .4s ease-in-out;
  }

  &.open{
    background-color: white;
    .box{
      transform: scaleY(1) scaleX(1) translateX(0);
      opacity: 1;
    }
    .arrow .glyphicon{
      transform: rotate(-180deg)
    }
  }
}