<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2015 Development Gateway, Inc and others.
   
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the MIT License (MIT)
    which accompanies this distribution, and is available at
    https://opensource.org/licenses/MIT
   
    Contributors:
    Development Gateway - initial API and implementation
 -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--
    <logger name="org.springframework" level="DEBUG"/>
    -->    
    <!--<logger name="org.hibernate.type" level="TRACE"/>-->
    <logger name="org.apache.wicket.resource.PropertiesFactory" level="WARN"/>
    <logger name="org.hibernate.cache.ehcache.AbstractEhcacheRegionFactory" level="ERROR"/>
	<logger name="org.hibernate.tool.hbm2ddl.TableMetadata" level="WARN"/>   
	<logger name="net.sf.ehcache.pool.sizeof.SizeOf" level="ERROR"/>     
</configuration>