{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "rules": {
        "linebreak-style": 0,
        "import/no-extraneous-dependencies": [error, { devDependencies: true }]
    },
    "settings": {
        "import/resolver": "webpack"
    }
}
