aside [role=navigation] a{
  display: block;
  color: #333;
  font-size: 1.3em;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding: 5px 0 5px 20px;
  text-decoration: none;
  &.active{
    background-color: #808080;
    color: #f2f2f2;
    .circle{
      background-color: #f2f2f2;
      color: #666;
    }
  }
  .circle{
    display: inline-block;
    background-color: #666;
    color: #f2f2f2;
    border-radius: 50%;
    width: 1.4em;
    height: 1.4em;
    padding-top: .1em;
    text-align: center;
  }
}