#dg-container{
  font-family: "Open Sans", Arial, sans-serif;
}

.camera-icon{
  fill: #333;
  float: right;
  cursor: pointer;
}

.chart-container .modebar{
  display: none!important;
}

.comparison .chart-toolbar{
  position: absolute;
  right: 20px;
  top: 32px;
}